<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>
<header th:include="fragments/headers::header"></header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Review</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="phone,iterStat : ${phones}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${phone.id}"></td>
                    <td th:text="${phone.name}"></td>
                    <td th:text="${phone.review}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/headers::footer"></footer>
</body>
</html>